<div class="pagination-container">
  <button
    class="btn-prev"
    (click)="previousPage()"
    [disabled]="isPrevButtonDisabled()">
    Anterior
  </button>

  @for (page of getDisplayedPages(); track page) {
    @if (showPageItem(page)) {
      <button
        (click)="goToPage(page)"
        [disabled]="isCurrentPageItemDisabled(page)">
        {{ page }}
      </button>
    }
  }

  <button class="btn-next" (click)="nextPage()" [disabled]="isNextButtonDisabled()">Siguiente</button>
</div>
