<div class="pagination-container">
  <button
    title="Anterior"
    class="btn-prev"
    (click)="previousPage()"
    [disabled]="isPrevButtonDisabled()">
    <svg width="22" height="22">
      <use xlink:href="#left" />
    </svg>
  </button>

  @for (page of getDisplayedPages(); track page) {
    @if (showPageItem(page)) {
      <button
        class="btn-page"
        (click)="goToPage(page)"
        [disabled]="isCurrentPageItemDisabled(page)">
        {{ page }}
      </button>
    }
  }

  <button class="btn-next" (click)="nextPage()" [disabled]="isNextButtonDisabled()" title="Siguiente">
    <svg width="22" height="22">
      <use xlink:href="#right" />
    </svg>
  </button>
</div>

<svg class="hide">
  <symbol id="left" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></symbol>
  <symbol id="right" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></symbol>
</svg>
