/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --input-color: #ece2c6;
  --bg-color-search: #191a1c;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
  color: #f9d3b4;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: rgba(249, 211, 180, 1);
  width: fit-content;
}

.overview {
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  margin-top: 2rem;
  line-height: 1.5;
  letter-spacing: 0.9px;
  padding-bottom: 2rem;
}

.w-80 {
  width: 80% !important;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las imágenes horizontalmente */
}

.image-wrapper {
  position: relative;
  margin: 10px;
}

.small-image {
  width: auto;
  height: 2rem;
  cursor: pointer;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}
