<main class="app">
  <h1>Películas</h1>
  <section class="search">
      <input
        [(ngModel)]="searchTitle"
        (input)="onChangeSearchInput($event)"
        type="text" placeholder="Buscar película"
      />
  </section>

  <section class="container">
    @for (movie of movies; track movie.id) {
      <app-card-movie [movie]="movie"></app-card-movie>
    } @empty {
      <div class="empty">
        <h3>No se encontraron películas</h3>
      </div>
    }
  </section>

  <pagination
    [currentPage]="currentPage$"
    [totalPages]="totalPages$"
    [pageRange]="1"
    (pageChange)="onPageChange($event)"
  ></pagination>
</main>
